.App {
  text-align: center;
}

.singleBeer _ {
  margin-top: "20px";
}
.oneBeer {
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.oneBeer img {
  margin: 10px;
  display: flex;
  align-items: flex-start;
}

.oneBeerText {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 30vw;
  margin: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.silverText {
  color: silver;
  text-align: left;
}

.createBeer {
  display: flex;
  flex-direction: column;
}

.createBeer input {
  width: 95vw;
  border-radius: 14px;
  border: 1px solid silver;
  height: 2vh;
  margin-bottom: 20px;
}

.createBeer p {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 5vw;
  margin-bottom: 10px;
}

.createBeer button {
  width: 10vw;
  margin-left: 45vw;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  color: black;
  background-color: steelblue;
}

.searchBar {
  width: 35vw;
  margin-left: 9vw;
  border-radius: 6px;
  border: 1px solid black;
}
